@use "sass:math";

$bs: (
    "desktop": 640px,
    "br":500px,
);

$color-accent: #E40065;
$color-line: #A3A3A3;
$color-bg: #F4F4F4;
$color-footer-bg: #2F2F2F;

$font-famly-base: "游ゴシック", "Yu Gothic", Helvetica, Arial, sans-serif;

@mixin mq($b: desktop) {
    @media (#{map-get($bs, $b)} <=width) {
        @content;
    }
}

@mixin inner($mw: 1000px, $w: percentage(math.div(560, 640))) {
    max-width: $mw;
    width: $w;
    margin-left: auto;
    margin-right: auto;
}

@mixin title-main($t) {
    font-size: 32px;
    text-align: center;
    font-weight: bold;


    &::before {
        content: $t;
        display: block;
        margin-bottom: 20px;
        font-size: 14px;
        line-height: 1;
        font-weight: normal;
    }

    &::after {
        content: "";
        margin: 0 auto 60px auto;
        display: block;
        width: 100px;
        border-bottom: 2px solid $color-accent;
        padding-bottom: 25px;
    }
}

body {
    font-size: 14px;
    line-height: math.div(24, 14);
    letter-spacing: #{math.div(50,1000)}em;
}

img {
    max-width: 100%;
    height: auto;
    vertical-align: bottom;
}

.unit {

    &__title {
        margin: 30px 0 20px 0;
        font-size: 18px;
        line-height: math.div(31, 18);
        font-weight: bold;
    }

    &__text {
        line-height: math.div(24, 14);
    }

    &__pic {
        &--new {
            &::after {
                content: "";

            }
        }
    }
}

/* ---------- index.html ----------*/
/* header */
.header {
    padding: 40px 0;

    &__inner {
        @include inner();
        display: grid;
        grid-auto-flow: column;
        justify-content: space-between;
        align-items: center;
    }

    &__logo {
        font-size: 24px;
        font-weight: bold;
        line-height: math.div(29, 24);
        letter-spacing: #{math.div(100,1000)}em;
    }

}

.gnav {
    &__list {
        display: flex;
        gap: 30px;
        font-size: 12px;
        line-height: math.div(14, 12);
    }

    &__item {
        &--active {
            color: $color-accent
        }
    }
}

.footer {
    padding: 80px 0;
    background-color: $color-footer-bg;
    color: #fff;
    font-size: 12px;
    line-height: math.div(20, 12);
    font-weight: bold;
    text-align: center;

    &__inner {
        @include inner();
    }
}

/* mainvisual */
.mainvisual {
    margin-bottom: 80px;

    &__inner {
        @include inner();
    }
}

/* philosophy */
.philosophy {

    &__inner {
        @include inner();
    }

    &__title {
        @include title-main("PHILOSOPHY"
        );
    }

    &__text {
        display: grid;
        word-break: keep-all;
        text-align: center;
        line-height: math.div(34, 14);
        row-gap: 60px;
    }
}

/* works */
.works {
    margin: 120px 0;

    &__inner {
        @include inner();
    }

    &__title {
        @include title-main("WORKS");
    }

    &__list {
        display: grid;
        row-gap: 60px;
    }

}

/* VOICE */
.voice {
    padding: 80px 0 120px 0;
    background-color: $color-bg;

    &__inner {
        @include inner();
    }

    &__title {
        @include title-main("VOICE")
    }

    &__list {
        display: grid;
        row-gap: 60px;

        .card {
            padding: 45px 40px;
            background-color: #fff;
            border: 1px solid $color-line;
            border-radius: 20px;
        }

        .card__content {
            margin-bottom: 40px;
        }

        .customer {
            display: flex;
            align-items: center;
            gap: 20px;
        }

        .customer__company {
            font-weight: bold;
        }
    }
}